.about{
    margin-top: 3rem;
    
}

.first{
    background-color: #f1eeee;
    display: flex;
    flex: 1;
    height: 30rem;
    margin-bottom: 3rem;
}
.content{
    margin-left: 2rem;
}
.slogan{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.picture{
    margin: 3rem 1rem 0rem 10rem;
}
.Info{
    margin-left: 5rem;
    font-size: larger;
    line-height: 3rem;
    font-weight: 600;
}
.second{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.second i{
    margin-right: 1rem;
}
.vision{
    margin-right: 5rem;
    border-right: 2px solid gray;
}
.vision p{
    margin-right: 5rem;
}
.start-up{
   display: flex;
   justify-content: center;
   color: white;
   margin: 1rem 0rem 3rem 0rem;
}
.third{
    background-color: #161617;
    padding: 20px;
    height: 38rem;
}
.mag{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news{
  margin-right: 2rem;
  border: 2px solid white;
}

.team{
  display: flex;
  justify-content: center;
  font-size: larger;
    line-height: 3rem;
    font-weight: 600;
    padding: 2rem;
    
}
.pic {
  margin-right: 6rem;
  box-shadow: 10px 5px 5px rgb(79, 79, 79);
  
}


.fourth{
 margin: 3rem 0rem 3rem 0rem;
 
}
.core{
  display:flex;
  justify-content: center;
}
.design{
  display: flex;
  justify-content:center;
}
.des{
  margin-right: 2rem;
  padding: 5rem;
}
.outer-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: positionChange 5s linear infinite; 
  }
  .fifth{
    margin: 8rem 0rem 3rem 0rem;
  }
  .circle {
    width: 14rem;
    height:14rem;
    border-radius: 50%;
    margin: 1rem;
   
  }
.circle img{
    border-radius: 50%;
    width: 14rem;
    height:14rem;
    border: 2px solid black;
}
  .row {
    display: flex;
  }
  .circle h2{
    margin-top: 5rem;
  }

  @keyframes positionChange {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-60px); /* Adjust the vertical distance between rows */
    }
    50% {
      transform: translateY(-120px); /* Adjust the vertical distance between rows */
    }
    75% {
      transform: translateY(-60px); /* Adjust the vertical distance between rows */
    }
  }





