.Box{
    position: absolute;
    width: 100%;
    height:50rem;
    left: 0;
    background-color: gray;
    font-family: 'Playfair Display', serif;
}
.Heading{
    margin-top: 16rem;
    margin-left:3 rem;
}